html
{
    min-height: 100%;
    color: rgb(175, 105, 255);
    font-family: "Consolas","DotGothic16", sans-serif;
    font-size: 16px;
    cursor: none;

    background-image: url(../../back.png);
    background-attachment: fixed;

    text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    margin: 7%;
    padding: 3%;
    background-color: black;
    background-repeat:  repeat;
    background-attachment: fixed;
}

#cursor {
    pointer-events: none;
    position: fixed;
    top: -8px;    
    left: -8px;   
    width: 35px;  
    height: 35px;  
    background-image: url(../../cursor.PNG);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s; 
    transition-timing-function: ease-out;
    z-index: 999;
}
.main{
    padding: 2em;
    border: solid 1px rgb(175, 105, 255) ;
}
.flex{
    display: flex;
    align-items: flex-start;
}

.border{
    border: solid 1px rgb(175, 105, 255) ;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.name{
    border: solid 1px rgb(175, 105, 255) ;
    width: 200px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    background-color: black;
}

.gif{
    height: auto;
    width: 70px;
}

.imag{
    width: auto;
    height: 300px;
    margin: 10px;
}

.mainwtite{
    background-color: black;
    border:solid 1px rgb(175, 105, 255);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
}
.subwrite{
    border:solid 1px rgb(175, 105, 255);
    text-align: left;
    padding: 1em;
    background-color: black;
}

.box{
    padding-right: 2em;
    padding-left: 2em;
    border-right: solid 1px rgb(175, 105, 255);
    padding: 2em;
}

.mainwtite p{   
  background-image:
  linear-gradient(90deg, rgba(255, 246, 230, 0) 0%, rgba(255, 246, 230, 0) 50%, rgba(0, 0, 0, 0.950) 0%, rgba(0, 0, 0, 0.950) 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, rgb(175, 105, 255) 100%);
  background-size: 8px 100%,100% 2.5em;
  line-height: 2.5em;
  color: rgb(175, 105, 255);
}

table
{
    border: 1px solid rgb(175, 105, 255);
    background-color: black;
    border-collapse: collapse;
    margin-top: 1em;
    padding: 1em;
}
td{
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border: none;
}

li{
    list-style: none;
}
ul{
    padding: 0;
}

.nul{
    background-color: rgb(175, 105, 255);
}

#backpage{
    padding: 2%;
}

a{
    text-decoration: none;
    cursor: none;
}
.diva:link {
    color: rgb(27, 238, 245);
}
.diva:visited {
color: rgb(27, 238, 245);
}
.emilia:active {
color: rgb(27, 238, 245);
}
.mao:link {
    color: rgb(255, 0, 221);
}
.mao:visited {
color: rgb(255, 0, 221);
}
.mao:active {
color: rgb(255, 0, 221);
}
.asela:link {
    color: rgb(175, 105, 255);
}
.asela:visited {
color: rgb(175, 105, 255);
}
.asela:active {
color: rgb(175, 105, 255);
}
input{
    cursor: none;
}

.button{
    border:solid 1px rgb(175, 105, 255);
    background-color: black;
    padding: 1%;
    margin: 2%;
    text-align: center;
    transition: .0.5s;
    &:hover{
        background-color: rgb(175, 105, 255);
        color: black;
        transform: scale(1.05);
    }
}
details{
    margin-left: 10%;
}
#ego{
    background-image:url(ego/asela1.png);
    background-repeat: no-repeat, no-repeat;
    height: 256px;
    width: 256px;

    background-color: rgb(175, 105, 255,0.1);
}