html
{
    min-height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(27, 238, 245);
    font-family: "Consolas","DotGothic16", sans-serif;
    font-size: 16px;
    cursor: none;
}
body{
    background-repeat:  repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    cursor: none;
}
.asela:link {
    color: rgb(175, 105, 255);
}
.asela:visited {
color: rgb(175, 105, 255);
}
.asela:active {
color: rgb(175, 105, 255);
}
.mao:link {
    color: rgb(255, 0, 221);
}
.mao:visited {
color: rgb(255, 0, 221);
}
.mao:active {
color: rgb(255, 0, 221);
}
.diva:link {
    color: rgb(27, 238, 245);
}
.diva:visited {
color: rgb(27, 238, 245);
}
.emilia:active {
color: rgb(27, 238, 245);
}

#cursor {
    pointer-events: none;
    position: fixed;
    top: -8px;    
    left: -8px;   
    width: 35px;  
    height: 35px;  
    background-image: url(../../cursor.PNG);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s; 
    transition-timing-function: ease-out;
    z-index: 999;
}
.main{
    margin: 15%;
}
.flex{
    display: flex;
    align-items: flex-start;
}

.border{
    border: solid 1px rgb(27, 238, 245) ;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.name{
    border: solid 1px rgb(27, 238, 245) ;
    width: 200px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    background-color: black;
}

.gif{
    height: auto;
    width: 70px;
}

.imag{
    width: auto;
    height: 300px;
    margin: 10px;
}

.mainwtite{
    background-color: black;
    border:solid 1px rgb(27, 238, 245);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.subwrite{
    border:solid 1px rgb(27, 238, 245);
    text-align: left;
    padding: 20px;
    background-color: black;
}

.box{
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px rgb(27, 238, 245);
    padding: 10px;
}

.mainwtite p{   
  background-image:
  linear-gradient(90deg, rgba(255, 246, 230, 0) 0%, rgba(255, 246, 230, 0) 50%, rgba(0, 0, 0, 0.950) 0%, rgba(0, 0, 0, 0.950) 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, rgb(27, 238, 245) 100%);
  background-size: 8px 100%,100% 2.5em;
  line-height: 2.5em;
  color: rgb(27, 238, 245);
}

table
{
    border: 1px solid rgb(27, 238, 245);
    background-color: black;
    border-collapse: collapse;
    margin-top: 15px;
}

td{
    padding: 15px;
}

li{
    list-style: none;
}
ul{
    padding: 0;
}

#backpage{
    padding: 2%;
}