html
{
    color: rgb(255, 255, 255);
    min-height: 100%;

    cursor: url(cursor.png), auto;

    font-family: "Consolas","DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 16px;

    background-color: black;
    background-image: url(back.png);
    background-attachment: fixed;

    text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    margin: auto;
    width: 47em;
}
#seBody{
    background: black;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border: white solid 1px;

    position: relative;
    z-index: 20;
}
.tab{
    padding: 0.5em;
    background-color: black;
    border: white solid 1px;
    border-top-right-radius: 20px;
    margin-right: 5px;
    text-decoration: none;

    cursor: url(cursor.png), auto;
    
    position: relative;
    top: 10px;
    z-index: 10;
    transition: .1s;
    &:hover{
        position: relative;
        top: 1px;
    }
}
.nowtab{
    padding: 0.5em;
    background-color: black;
    border: white solid 1px;
    border-top-right-radius: 20px;
    margin-right: 5px;
    text-decoration: none;

    position: relative;
    top: 1px;
    z-index: 30;
    border-bottom: black;
}
.topbar:link {
color: white;
}
.topbar:visited {
color: white;
}
.topbar:active {
color: white;
}
.topbar{
    padding: 1em;
}
#bar{
    margin-left: 5%;
    padding-top: 1em;
    margin-bottom: none;
    padding-bottom: none;

}
#main{
    margin: 2em;
    margin-top: none;
}
a{
    text-decoration: none;
    cursor: url(cursor.png), auto;
}
.titleA{
    font-size: 0.8em;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0px;
}
img{
    width: 200px;
    height: auto;
}
.name{
    text-align: center;
    margin: 3%;
    margin-top: 5px;
}
.tip{
    position: relative;
    cursor: help;      
    color: white;
    cursor: url(cursor.png), auto;
}
.subtext {
    transition: .2s;    
    z-index: -1;        
    opacity: 0;         
    min-width: 10em;
    cursor: url(cursor.png), auto;

    position: absolute;
    left: 0;
    bottom: 0%;
    padding: 5%;
    margin-bottom: 0.5em;

    font-size: 0.8em;        
    border:solid 1px #fff0f0;   
    background-color: rgba(0, 0, 0, 0.8); 
}
.subtext::after {
    content: "";  

    position: absolute;
    left: 25%;
    bottom: -1em;
}
.tip:hover .subtext {
    z-index: 0;    
    opacity: .96;  
}
.nul{
    background-color: white;
}
.top:link {
color: white;
}
.top:visited {
color: white;
}
.top:active {
color: white;
}
.top{
    text-decoration: underline;
    &:hover{
        position: relative;
        bottom:3px
    }
}
.push{
    cursor: url(cursor.png), auto;
    transition: .0.5s;
    &:hover{
        transform: scale(0.95);
    }
}
.d{
    width: 50px;
    margin: 0 auto;
}

.gif{
    width: 70px;
    height: 70px;
}
table{
    border-collapse: collapse;
    border: white 2px solid;
}
td{
    padding: 5px;
    font-size: 12px;
    border: white 1px solid;
}
